<div class="col-xs-5 col-md-5">
<br>
<td><a ng-href="#/"><button class="btn btn-primary btn-xs">Back</button></a></td>
<hr>
<h4>{{u.username}}</h4>
<hr>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tr>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td>
    <td>{{u.address.street}} <br> {{u.address.suite}} <br> {{u.address.city}} <br> {{u.address.zipcode}}</td>
  </tr>

  <thead>
    <tr>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
    </tr>
  </thead>
  <tr>
    <td>{{u.phone}}</td>
    <td>{{u.website}}</td>
    <td>{{u.company.name}} <br> {{u.company.catchPhrase}} <br> {{u.company.bs}}</td>
  </tr>
</table>
</table>

<table class="table table-condensed">

</div>
